a.active {
    color: red !important;
}

.leftBarContainer {
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;
    width: 204.28px;
}

.navLink {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 20px 0;
    text-decoration: none;
    color: #e3e3e3;
    border-radius: 5px;
}

.navLink:hover {
    background-color: #b075e6 !important;
    color: #fff !important;
}

@media (max-width: 700px) {
    .leftBarContainer {
        width: 82px;
    }

    .navLink b {
        display: none;
    }
}