@import '../node_modules/bootstrap/scss/bootstrap.scss';

.css-y4cjyz-MuiTouchRipple-ripple .MuiTouchRipple-child{
    background-color: #b075e6 !important;
}

.css-y4cjyz-MuiTouchRipple-ripple.MuiTouchRipple-rippleVisible{
    animation-duration: 200ms !important;
}

@media (max-width: 960px) {
    .responsiveContanier {
        width: calc(100% - 174.28px) !important;
    }
}

@media (max-width: 700px) {
    .responsiveContanier {
        width: calc(100% - 122.28px) !important;
    }
}